data_inputs/carriers/water/cons_irr_2001_2010.nc
data_inputs/carriers/water/41467_2024_44920_MOESM4_ESM.xlsx
data_inputs/shape-files
data_inputs/technologies/conversion/PV
data_inputs/technologies/conversion/water_pump/USGWD-Tabular
zen_garden_inputs